<div class="header-wrap">
  <pre>[ header here ]</pre>
  <div class="utility-bar"></div>
  <div class="mid-bar"></div>
  <nav class="main-nav"></nav>
</div>

<div class="mobile-menu" id="mobileMenu">
  <a href="#features" onclick="closeMobile()">Features</a>
  <a href="#how" onclick="closeMobile()">How It Works</a>
  <a href="#pricing" onclick="closeMobile()">Pricing</a>
  <a href="#testimonials" onclick="closeMobile()">Reviews</a>
  <a href="#">Promotions</a>
  <div class="mobile-divider"></div>
  <a href="#faq" onclick="closeMobile()">FAQ</a>
  <a href="#">Air Menu</a>
  <a href="#">Careers</a>
  <a href="#">Directions</a>
  <div class="mobile-divider"></div>
  <a href="#">Locations</a>
  <a href="#">Rewards Club</a>
  <a href="#signup" onclick="closeMobile()">Book Air</a>
</div>
<style>
  .header-wrap {
    border: 1px dashed red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
</style>
